@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #0f172a;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}